<!DOCTYPE html>
<html lang="en">
    {% include 'parts/head.jinja.html' %}  
    <body>
        {% include 'parts/body_nav.jinja.html' %}  
        {% include 'parts/body_header.jinja.html' %}  


        <section class="py-5 border-bottom" id="features">
            <!-- <div class="container px-5 my-5">
                <h2> Title:  {{ meta.title }} </h2>
                <h2> Last modified:  {{ meta.last_modified_date }} </h2>
            </div> -->

            <div class="container">
                {% include 'parts/breadcrumbs.jinja.html' %}  
                <h2>{{ title }}</h2>
                {{ html }}
            </div>

            <div class="container px-5 my-5">
                <div class="row gx-5">

                    {% for _, e in children.items() %}
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="{{ e.meta.icon }}"></i></div>
                            <h2 class="h4 fw-bolder">{{ e.meta.title }}</h2>
                            <p>{{ e.meta.description }}</p>
                            <a class="text-decoration-none" href="{{ e.web_path }}">
                                Explore
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% include 'parts/body_footer.jinja.html' %}  
    </body>
</html>
